// Here you can add other styles

.btn {
    cursor: pointer;
}

.card-body {
    padding: 1.25rem;
}

.terminal-body {
    background: #656b76;
    color: #dadadc;
    height: 300px;
    overflow-y: scroll;
}

.input-group-btn {
    background: #eee;
}

.input-group-btn .fa {
    font-size: 12px;
    margin: 0 auto;
}

.btn-group-xyzcontrol {
    margin-top: 15px;
    margin-left: 15px;
}

.log-item {
    display: block;
}

#dragandrophandler {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.75);
    z-index: 1030;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: #fff;

    > span {
        display: table-cell;
    }

}

.drag #dragandrophandler {
    display: table;
    pointer-events: none;
}


.sidebar-nav {

    h1 {
        font-size: 16px;
        padding: 0 15px;
        margin-top: 30px;
    }

    .margins {
        margin: 15px;
    }

    .state-list {
        list-style: none;
        padding: 0;

        li {
            line-height: 200%;
        }

        li.divider {
            border-bottom: 1px solid #fff;
            margin: 5px 0;
        }

    }

}

#webcam-fullscreen {
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center center;
}

#webcam-fullscreen img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    max-height: 100vh;
    max-width: 100vw;
}

#webcam-fullscreen .webcam-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // min-height: 50px;
    background: rgba(0,0,0,.5);
    color: #fff;
}

#webcam-fullscreen .webcam-nav {
    margin: 5px 0;
    line-height: 50px;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        padding: 0;
        margin: 0 10px;
    }

    .webcam-temp {
        padding: 0 10px;
        border-left: 1px solid rgba(255,255,255,.25);
    }

    li.webcam-temp:first-child {
        border-left: 0;
    }

}

.card-webcam {

    .card-body {
        position: relative;

        button {
            opacity: 0;
            position: absolute;
            bottom: 30px;
            right: 30px;
            transition: all .3s ease;
        }

    }

    .card-body:hover {

        button {
            opacity: 1;
        }

    }


}

.file-manager-list-container {

    max-height: 270px;
    overflow-y: auto;


    .file-manager-list {

        .back {
            cursor: pointer;
        }

        .file-manager-item,
        .back {

            border-bottom: 1px solid #aaa;
            padding: 5px;

            .file-manager-item-name {
                display: block;
                text-overflow: ellipsis;
                word-break: break-all;
            }

            .file-manager-item-name.loaded-file {
                font-weight: bold;
            }

            .file-manager-item-date {
                display: block;
            }

            .file-manager-item-size {
                display: block;
                float: left;
            }

            .file-manager-item {
                padding-left: 10px;
            }

            .btn-group {
                float: right;

                .btn {
                    font-size: 12px;
                    margin: 0 5px;
                    padding: 5px;
                    margin: 5px;
                }
            }

        }

        .file-manager-item:hover,
        .back:hover {
            background: rgba(255,255,255,.1);
        }

        .file-manager-item.folder {
            .file-manager-item-name {
                cursor: pointer;
            }
        }

    }
}

.gcode-container {

    position: relative;

    #slider-horizontal {
        margin-right: 40px;
        margin-left: 15px
    }

    #slider-vertical {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .ui-widget-header {
        background: lighten($brand-primary, 15%);
    }

}

.gcode-progress-status {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: $brand-primary;
}

.btn-upload {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.btn-upload input[type=file]{
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.timelapse-line td.timelapse-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.progress-upload {
    margin-top: 20px;
}
