// Here you can add other styles

.btn {
    cursor: pointer;
}

.card-body {
    padding: 1.25rem;
}

.terminal-body {
    background: #656b76;
    color: #dadadc;
    height: 300px;
    overflow-y: scroll;
}

.input-group-btn {
    background: #eee;
}

.input-group-btn .fa {
    font-size: 12px;
    margin: 0 auto;
}

.btn-group-xyzcontrol {
    margin-top: 15px;
    margin-left: 15px;
}

.log-item {
    display: block;
}

.sidebar-nav {

    h1 {
        font-size: 16px;
        padding: 0 15px;
        margin-top: 30px;
    }

    .margins {
        margin: 15px;
    }

    .state-list {
        list-style: none;
        padding: 0;

        li {
            line-height: 200%;
        }

        li.divider {
            border-bottom: 1px solid #fff;
            margin: 5px 0;
        }

    }

}

#webcam-fullscreen {
    background: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#webcam-fullscreen img {
    display: block;
    margin: 0 auto;
}

.file-manager-list-container {

    max-height: 270px;
    overflow-y: auto;

    .file-manager-list {

        .file-manager-item {

            border-bottom: 1px solid #aaa;
            padding: 5px;

            .file-manager-item-name {
                display: block;
                text-overflow: ellipsis;
                word-break: break-all;
            }

            .file-manager-item-name.loaded-file {
                font-weight: bold;
            }

            .file-manager-item-date {
                display: block;
            }

            .file-manager-item-size {
                display: block;
                float: left;
            }

            .file-manager-item {
                padding-left: 10px;
            }

            .btn-group {
                float: right;

                .btn {
                    font-size: 12px;
                    margin: 0 5px;
                    padding: 5px;
                    margin: 5px;
                }
            }

        }

        .file-manager-item.folder {
            .file-manager-item-name {
                cursor: pointer;
            }
        }

    }
}

.gcode-container {

    position: relative;

    #slider-horizontal {
        margin-right: 40px;
        margin-left: 15px
    }

    #slider-vertical {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .ui-widget-header {
        background: lighten($brand-primary, 15%);
    }

}
