
<span class="file-manager-item-name" ng-class="[octoprint.data.jobs.job.file.name == file.name ? 'loaded-file' : '', file.prints.last.success == true ? 'print-success' : '', file.prints.last.success == false ? 'print-error' : '']" ng-click="fileManager.open(file)">
    <i class="fa fa-folder-open" ng-if="file.type == 'folder' && file.selected == true"></i>
    <i class="fa fa-folder" ng-if="file.type == 'folder' && file.selected != true"></i>
    {{ file.name }}
</span>
<!-- <span class="file-manager-item-date" ng-if="file.date != null">Uploaded : {{ file.date * 1000 | date }}</span> -->
<span class="file-manager-item-date" ng-if="file.date != null">Uploaded: <value am-time-ago="file.date * 1000"></value></span>
<span class="file-manager-item-size" ng-if="file.size != null">Size: {{ file.size != 0 ? (file.size | filesize:1) : '-' }}</span>
<div class="btn-group" ng-if="file.type != 'folder'">
    <button class="btn btn-secondary" ng-disabled="octoprint.data.jobs.job.file.name == file.name" title="Delete" ng-click="fileManager.deleteFile(file, $index)"><i class="fa fa-trash fa-fw"></i></button>
    <button class="btn btn-secondary" ng-disabled="octoprint.data.printer.state.flags.printing || octoprint.data.jobs.job.file.name == file.name" title="Load"  ng-click="octoprint.loadFile(file, false)"><i class="fa fa-fw fa-folder-open"></i></button>
    <button class="btn btn-secondary" ng-disabled="octoprint.data.printer.state.flags.printing" title="Print" ng-click="octoprint.loadFile(file, true)"><i class="fa fa-print fa-fw"></i></button>
    <a class="btn btn-secondary" title="Download" href="{{ file.refs.download }}"><i class="fa fa-download fa-fw"></i></a>
</div>
<div class="btn-group" ng-if="file.type == 'folder'">
    <button class="btn btn-secondary" ng-disabled="octoprint.data.jobs.job.file.name == file.name" title="Delete" ng-click="fileManager.deleteFile(file, $index)"><i class="fa fa-trash fa-fw"></i></button>
</div>

<div class="clearfix"></div>


<!-- <div class="file-manager-list" ng-if="fileManager.selected == $index">
    <span class="back" ng-if="fileManager.selected != null" ng-click="fileManager.selected = null">Back</span>
    <div class="file-manager-item" ng-class="file.type == 'folder' ? 'folder':''" ng-repeat="file in file.children | orderBy : ['children.length', 'name'] | searchFileManager : searchFile">
        <ng-include src="'views/partials/list-files-item.html'"></ng-include>
    </div>
</div> -->
