<!-- Navbar -->
<div ng-include="'views/common/navbar.html'"></div>



<!-- <div id="webcam-fullscreen" ng-show="settings.showFullScreen" style="background-image: url({{ octoprint.data.settings.webcam.streamUrl.indexOf('http://') == -1 ? octoprint.host : '' }}{{ octoprint.data.settings.webcam.streamUrl }})"></div> -->

<div id="webcam-fullscreen" ng-show="settings.showFullScreen">
    <img ng-src="{{ octoprint.data.settings.webcam.streamUrl.indexOf('http://') == -1 ? octoprint.host : '' }}{{ octoprint.data.settings.webcam.streamUrl }}" />
    <div class="webcam-footer">

        <ul class="webcam-nav float-left">
            <li class="webcam-temp" ng-repeat="item in octoprint.data.temperaturesChart.data" ng-hide="$index%2">
                {{ item.name | strReplace : ' actual' : '' }} : {{ item.y[item.y.length-1] }} / {{ octoprint.data.temperaturesChart.data[$index+1].y[octoprint.data.temperaturesChart.data[$index+1].y.length-1] }} °C
            </li>
        </ul>

        <ul class="webcam-nav float-right">
            <li ng-hide="!octoprint.data.printer.state.flags.printing">Print Time: <strong>{{ octoprint.data.jobs.progress.printTime ? (octoprint.data.jobs.progress.printTime * 1000 | duration) : '-' }}</strong></li>
            <li ng-hide="!octoprint.data.printer.state.flags.printing">Print Time Left: <strong>{{ octoprint.data.jobs.progress.printTimeLeft ? (octoprint.data.jobs.progress.printTimeLeft * 1000 | duration) : '-' }}</strong></li>
            <li ng-hide="!octoprint.data.printer.state.flags.printing"><button class="btn btn-secondary" ng-click="octoprint.sendJob('cancel')"><i class="fa fa-stop"></i> Cancel</button></li>
            <li ng-hide="!octoprint.data.printer.state.flags.printing"><button class="btn btn-secondary" ng-click="octoprint.sendJob('pause')"><i class="fa fa-pause"></i> Pause</button></li>
            <li><button class="btn btn-secondary" ng-click="settings.showFullScreen = false"><i class="fa fa-compress fa-fw"></i></button></li>
        </ul>
    </div>
</div>

<div class="app-body">
    <!-- Navigation -->
    <div ng-include="'views/common/sidebar-nav.html'"></div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb" breadcrumb>
            <ncy-breadcrumb></ncy-breadcrumb>

            <li class="breadcrumb-menu">
                <div class="btn-group">
                    <!-- <a class="btn" ng-repeat="cmd in octoprint.data.system.commands.core" ng-click="octoprint.sendSystemCommand(cmd)" ng-show="cmd.name">{{ cmd.name }}</a> -->
                    <!-- <a class="btn" ng-repeat="cmd in octoprint.data.system.commands.custom" ng-click="octoprint.sendSystemCommand(cmd)" ng-show="cmd.name">{{ cmd.name }}</a> -->

                    <a class="btn nav-link dropdown-toggle" id="navbarDropdownMenuCustomLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-diamond"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuCustomLink">
                      <a class="dropdown-item" ng-repeat="cmd in octoprint.data.system.commands.custom"
                            ng-click="cmd.confirm == null ? octoprint.sendSystemCommand(cmd) : ShowConfirmModal(cmd, octoprint.sendSystemCommand)"
                            ng-show="cmd.name">
                        {{ cmd.name }}
                    </a>
                    </div>
                </div>

                <div class="btn-group">
                    <a class="btn nav-link dropdown-toggle" id="navbarDropdownMenuCoreLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-power-off"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuCoreLink">
                      <a class="dropdown-item" ng-repeat="cmd in octoprint.data.system.commands.core"
                      ng-click="cmd.confirm == null ? octoprint.sendSystemCommand(cmd) : ShowConfirmModal(cmd, octoprint.sendSystemCommand)"
                      ng-show="cmd.name">{{ cmd.name }}</a>
                    </div>

                </div>
            </li>
        </ol>

        <div class="container-fluid">
            <ui-view></ui-view>
        </div>
        <!-- /.conainer-fluid -->
    </main>

</div>

<!-- Footer -->
<!-- <div ng-include="'views/common/footer.html'"></div> -->
