<div class="animated fadeIn">

    <div class="row">

        <div class="col-lg-3">

            <div class="card">
              <div class="card-header">
                <i class="fa fa-arrows"></i> Controls
              </div>
              <div class="card-body">

                          <div class="row">

                              <div class="col-md-8">

                                  <h2 class="text-center">XY</h2>

                                  <div class="row">
                                      <div class="col-md-4 offset-md-4">
                                          <button ng-click="octoprint.sendGCode(['G91','G1 Y'+ xyzcontrol.distance + ' F'+octoprint.data.printerprofile.axes.y.speed, 'G90'])" class="btn btn-primary" style="margin-bottom: 20px;"><i class="fa fa-arrow-up"></i></button>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-4 text-right">
                                          <button ng-click="octoprint.sendGCode(['G91', 'G1 X-'+ xyzcontrol.distance +' F'+octoprint.data.printerprofile.axes.x.speed, 'G90'])" class="btn btn-primary"><i class="fa fa-arrow-left"></i></button>
                                      </div>
                                      <div class="col-md-4">
                                          <button ng-click="octoprint.sendGCode(['G91', 'G28 X0 Y0', 'G90'])" class="btn btn-primary"><i class="fa fa-home"></i></button>
                                      </div>
                                      <div class="col-md-4 text-left">
                                          <button ng-click="octoprint.sendGCode(['G91', 'G1 X'+ xyzcontrol.distance +' F'+octoprint.data.printerprofile.axes.x.speed, 'G90'])" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-4 offset-md-4">
                                          <button ng-click="octoprint.sendGCode(['G91', 'G1 Y-'+ xyzcontrol.distance + ' F'+octoprint.data.printerprofile.axes.y.speed, 'G90'])" class="btn btn-primary" style="margin-top: 20px;"><i class="fa fa-arrow-down"></i></button>
                                      </div>
                                  </div>

                              </div>
                              <div class="col-md-4">
                                  <h2 class="text-center">Z</h2>

                                 <div class="row text-center">
                                     <div class="col-md-12">
                                         <button ng-click="octoprint.sendGCode(['G91','G1 Z'+ xyzcontrol.distance + ' F'+octoprint.data.printerprofile.axes.z.speed, 'G90'])" class="btn btn-primary"><i class="fa fa-arrow-up"></i></button>
                                     </div>
                                     <div class="col-md-12">
                                         <button ng-click="octoprint.sendGCode(['G91', 'G28 Z0', 'G90'])" class="btn btn-primary" style="margin: 20px 0;"><i class="fa fa-home"></i></button>
                                     </div>
                                     <div class="col-md-12">
                                         <button ng-click="octoprint.sendGCode(['G91','G1 Z-'+ xyzcontrol.distance + ' F'+octoprint.data.printerprofile.axes.z.speed, 'G90'])" class="btn btn-primary"><i class="fa fa-arrow-down"></i></button>
                                     </div>
                                 </div>
                              </div>

                              <div class="btn-group btn-group-xyzcontrol">
                                  <button class="btn btn-secondary" ng-class="xyzcontrol.distance == 0.1 ? 'active' : ''" ng-click="xyzcontrol.distance = 0.1">0.1</button>
                                  <button class="btn btn-secondary" ng-class="xyzcontrol.distance == 1 ? 'active' : ''" ng-click="xyzcontrol.distance = 1">1</button>
                                  <button class="btn btn-secondary" ng-class="xyzcontrol.distance == 10 ? 'active' : ''" ng-click="xyzcontrol.distance = 10">10</button>
                                  <button class="btn btn-secondary" ng-class="xyzcontrol.distance == 100 ? 'active' : ''" ng-click="xyzcontrol.distance = 100">100</button>
                              </div>

                      </div>

                      <hr />

                      <h2>Tool</h2>
                      <div class="input-group">
                          <input type="text" class="form-control" ng-model="econtrol.distance">
                          <span class="input-group-addon">mm</span>
                      </div>
                      <div class="row" style="margin-top:15px">
                          <div class="col">
                              <button ng-click="octoprint.sendGCode(['G1 E-'+econtrol.distance+ ' F'+octoprint.data.printerprofile.axes.e.speed])" class="btn btn-primary btn-block">Retract</button>
                          </div>
                          <div class="col">
                              <button ng-click="octoprint.sendGCode(['G1 E'+econtrol.distance+ ' F'+octoprint.data.printerprofile.axes.e.speed])" class="btn btn-primary btn-block">Extrude</button>
                          </div>
                      </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <i class="fa fa-eye"></i> Webcam
                <div class="card-actions">
                  <a target="_blank" href="{{ octoprint.data.settings.webcam.streamUrl.indexOf('http://') == -1 ? octoprint.host : '' }}{{ octoprint.data.settings.webcam.streamUrl }}">
                    <small class="text-muted"><i class="fa fa-external-link fa-fw"></i></small>
                  </a>
                </div>
              </div>

              <div class="card-body">
                  <!-- <button ng-click="settings.showFullScreen = true" class="btn btn-primary"><i class="fa fa-home fa-fw"></i> -->
                      {{ showFullScreen }}</button>
                  <img ng-src="{{ octoprint.data.settings.webcam.streamUrl.indexOf('http://') == -1 ? octoprint.host : '' }}{{ octoprint.data.settings.webcam.streamUrl }}" class="img-fluid" />
              </div>

              <!-- {{octoprint.data.printerprofile}} -->

            </div>

        </div>

        <div class="col">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-terminal"></i> Terminal
              </div>
              <div class="card-body terminal-body">
                  <span class="log-item"
                    ng-hide="hideLine(log)"
                    ng-repeat="log in octoprint.data.messages track by $index">
                        {{log}}
                  </span>
              </div>
              <form ng-submit="sendGcode()">
                  <div class="input-group">
                      <span class="input-group-btn">
                        <i class="fa fa-code"></i>
                      </span>
                      <input type="text" class="form-control" ng-keyup="loadTerminalCmd($event)" ng-model="terminal.gcode">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Send</button>
                      </span>
                    </div>
                </form>
                <div class="card-body">
                    <label class="switch switch-default switch-primary">
                        <input type="checkbox" class="switch-input" ng-model="settings.autoscroll">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label> <strong ng-click="settings.autoscroll = !settings.autoscroll">AutoScroll</strong>

                    <div ng-repeat="filter in octoprint.data.settings.terminalFilters">
                    <label class="switch switch-default switch-primary">
                        <input type="checkbox" class="switch-input" ng-model="filter.activ">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label> <strong ng-click="filter.activ = !filter.activ">{{ filter.name }}</strong>
                    </div>

                </div>
            </div>

            <div class="card">
              <div class="card-header">
                <i class="fa fa-terminal"></i> Custom Commands
              </div>
              <div class="card-body">
                    <h6 class="text-center"></h6>
                    <div class="row">
                        <div class="col">
                            <button ng-click="octoprint.sendGCode(['M18'])" class="btn btn-primary btn-block">Motors off</button>
                            <button ng-click="octoprint.sendGCode(['M106 S255'])" class="btn btn-primary btn-block">Fan on</button>
                            <button ng-click="octoprint.sendGCode(['M106 S0'], true)" class="btn btn-primary btn-block">Fan off</button>
                        </div>
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="card" ng-show="false">
              <div class="card-header">
                  <i class="fa fa-diamond"></i> System control
              </div>

              <div class="card-body">

                  <div class="row">

                      <div class="col">
                          <h2>Core</h2>
                          <button class="btn btn-primary btn-block" ng-repeat="cmd in octoprint.data.system.commands.core" ng-click="octoprint.sendSystemCommand(cmd)">{{ cmd.name }}</button>
                      </div>

                      <div class="col">
                          <h2>Custom</h2>
                          <button class="btn btn-primary btn-block" ng-repeat="cmd in octoprint.data.system.commands.custom" ng-click="octoprint.sendSystemCommand(cmd)" ng-show="cmd.name">{{ cmd.name }}</button>
                      </div>

                  </div>

              </div>

            </div>

            <div class="card">
              <div class="card-header">
                <i class="fa fa-thermometer-quarter"></i> Temperatures {{ octoprint.data.temperaturesChart.data[0].y[octoprint.data.temperaturesChart.data[0].y.length-1] }} / {{ octoprint.data.temperaturesChart.data[1].y[octoprint.data.temperaturesChart.data[1].y.length-1] }}
              </div>
              <div class="card-body">
                <plotly plotly-data="octoprint.data.temperaturesChart.data" plotly-layout="tempChart.layout" plotly-options="tempChart.options"></plotly>
              </div>
              <form ng-submit="setTemp()">
                  <div class="input-group">
                      <span class="input-group-addon">Tool 0</span>
                      <input type="text" class="form-control" ng-model="temperature.degrees" placeholder="{{ temperature.degreesPlaceholder }}">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="setTemp()">Set</button>
                      </span>
                    </div>

                </form>
                <form ng-submit="setTemp()">
                    <div class="input-group" ng-show="octoprint.data.printerprofile.heatedBed">
                        <span class="input-group-addon">Bed</span>
                        <input type="text" class="form-control" ng-model="bedTemperature.degrees" placeholder="{{ bedTemperature.degreesPlaceholder }}">
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="button" ng-click="setTemp(true)">Set</button>
                        </span>
                      </div>
                </form>

            </div>

            <div class="card" ng-init="loadGCodeViewer()">
              <div class="card-header">
                <i class="fa fa-thermometer-quarter"></i> GCode Viewer
              </div>
              <div class="card-body">
                  <div class="gcode-container">
                      <canvas id="canvas" width="400" height="400"></canvas>
                      <div id="slider-vertical"></div>
                      <div id="slider-horizontal"></div>
                  </div>
                  <br />
                  <div class="gcode-progress-status">{{ octoprint.data.gcodeviewer.progressStatus.type | ucfirst }}</div>
                  <div class="progress progress-xs my-1">
                      <div class="progress-bar" ng-class="octoprint.data.gcodeviewer.progressStatus.progress != 0 && octoprint.data.gcodeviewer.progressStatus.progress != 100 ? 'progress-bar-striped progress-bar-animated' : ''" role="progressbar" aria-valuenow="{{ octoprint.data.gcodeviewer.progressStatus.progress | number: 1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ octoprint.data.gcodeviewer.progressStatus.progress | number: 1 }}%"></div>
                  </div>

                  <div class="row" style="margin-top:15px">
                      <div class="col">
                          <button ng-click="changeLayer(-1)" class="btn btn-primary btn-block">Previous layer</button>
                      </div>
                      <div class="col">
                          <button ng-click="changeLayer(+1)" class="btn btn-primary btn-block">Next layer</button>
                      </div>
                  </div>

                  <hr />

                  <div>
                      <label class="switch switch-default switch-primary">
                          <input type="checkbox" class="switch-input" ng-model="octoprint.data.gcodeviewer.settings.sync">
                          <span class="switch-label"></span>
                          <span class="switch-handle"></span>
                      </label> <strong ng-click="octoprint.data.gcodeviewer.settings.sync = !octoprint.data.gcodeviewer.settings.sync">Sync with job progress</strong>
                  </div>

                  <div>
                      <label class="switch switch-default switch-primary">
                          <input type="checkbox" class="switch-input" ng-model="octoprint.data.gcodeviewer.settings.showmoves">
                          <span class="switch-label"></span>
                          <span class="switch-handle"></span>
                      </label> <strong ng-click="octoprint.data.gcodeviewer.settings.showmoves = !octoprint.data.gcodeviewer.settings.showmoves">Show moves</strong>
                  </div>

                  <div>
                      <label class="switch switch-default switch-primary">
                          <input type="checkbox" class="switch-input" ng-model="octoprint.data.gcodeviewer.settings.showretract">
                          <span class="switch-label"></span>
                          <span class="switch-handle"></span>
                      </label> <strong ng-click="octoprint.data.gcodeviewer.settings.showretract = !octoprint.data.gcodeviewer.settings.showretract">Show retract</strong>
                  </div>

                  <div>
                      <label class="switch switch-default switch-primary">
                          <input type="checkbox" class="switch-input" ng-model="octoprint.data.gcodeviewer.settings.showprev">
                          <span class="switch-label"></span>
                          <span class="switch-handle"></span>
                      </label> <strong ng-click="octoprint.data.gcodeviewer.settings.showprev = !octoprint.data.gcodeviewer.settings.showprev">Also show previous layer</strong>
                  </div>

                  <div>
                      <label class="switch switch-default switch-primary">
                          <input type="checkbox" class="switch-input" ng-model="octoprint.data.gcodeviewer.settings.shownext">
                          <span class="switch-label"></span>
                          <span class="switch-handle"></span>
                      </label> <strong ng-click="octoprint.data.gcodeviewer.settings.shownext = !octoprint.data.gcodeviewer.settings.shownext">Also show next layer</strong>
                  </div>

              </div>

            </div>

        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Are you sure ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{ confirmModal.element.confirm }}</p>
          <p>Are you sure you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="ApplyConfirmModal()">Proceed</button>
      </div>
    </div>
  </div>
</div>


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LoginModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" ng-model="login.user" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" ng-model="login.pass" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="askLogin()">Proceed</button>
      </div>
    </div>
  </div>
</div>
