<div class="sidebar">
    <nav class="sidebar-nav">
        <!-- <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
        </ul> -->

        <h1><i class="fa fa-signal"></i> Connection</h1>
        <div class="margins">
            <form ng-submit="launchConnect()" ng-show="octoprint.data.connection.settings.current.state != 'Operational'">
                <div class="form-group">
                    <label>Serial Port</label>
                    <select ng-model="connection.serialPort" class="form-control">
                        <option value="">Auto</option>
                        <option ng-repeat="port in octoprint.data.connection.settings.options.ports" value="{{port}}">{{port}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Baudrate</label>
                    <select ng-model="connection.baudrate" class="form-control">
                        <option value="">Auto</option>
                        <option ng-repeat="baudrate in octoprint.data.connection.settings.options.baudrates" value="{{baudrate}}">{{baudrate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Printer profile</label>
                    <select ng-model="connection.printerProfile" class="form-control">
                        <option ng-repeat="printerProfile in octoprint.data.connection.settings.options.printerProfiles" value="{{printerProfile.id}}">{{printerProfile.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Connect" />
                </div>
            </form>

            <button ng-click="octoprint.disconnect()" class="btn btn-primary btn-block"  ng-show="octoprint.data.connection.settings.current.state == 'Operational'">Disconnect</button>
        </div>


        <h1><i class="fa fa-info fa-fw"></i>State</h1>

        <ul class="state-list margins">
            <li>State: <strong>{{ octoprint.data.printer.state.text }}</strong></li>
            <li class="divider"></li>
            <li>File: <strong>{{ octoprint.data.jobs.job.file.name }}</strong></li>
            <li>Timelapse: <strong>{{ octoprint.data.timelapses.config.type }}</strong></li>
            <li>Approx. Total Print Time: <strong>{{ octoprint.data.jobs.job.estimatedPrintTime * 1000 | duration }}</strong></li>
            <li class="divider"></li>
            <li>Current Z: <strong>{{ octoprint.data.currentZ ? octoprint.data.currentZ + 'mm' : '-' }}</strong></li>
            <li>Print Time: <strong>{{ octoprint.data.jobs.progress.printTime ? (octoprint.data.jobs.progress.printTime * 1000 | duration) : '-' }}</strong></li>
            <li>Print Time Left: <strong>{{ octoprint.data.jobs.progress.printTimeLeft ? (octoprint.data.jobs.progress.printTimeLeft * 1000 | duration) : '-' }}</strong></li>
            <!-- <li>Current Height: <strong>value</strong></li> -->
            <li>Progress: <strong>{{ octoprint.data.jobs.progress.completion | number: 1 }}%</strong></li>
        </ul>

        <div class="progress margins">
            <div class="progress-bar" ng-class="octoprint.data.jobs.progress.completion != 0 && octoprint.data.jobs.progress.completion != 100 ? 'progress-bar-striped progress-bar-animated' : ''" role="progressbar" aria-valuenow="{{ octoprint.data.jobs.progress.completion | number: 1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ octoprint.data.jobs.progress.completion | number: 1 }}%">
                {{ octoprint.data.jobs.progress.completion | number: 1 }}%
            </div>
        </div>

        <div class="action-buttons margins">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block" ng-disabled="octoprint.data.printer.state.flags.printing" ng-click="octoprint.sendJob('start')">Print</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block" ng-disabled="!octoprint.data.printer.state.flags.printing" ng-click="octoprint.sendJob('pause')">Pause</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block" ng-disabled="!octoprint.data.printer.state.flags.printing" ng-click="octoprint.sendJob('cancel')">Cancel</button>
                </div>
            </div><br />
            <button class="btn btn-primary btn-block" ng-click="octoprint.sendGCode(['M600'])" ng-disabled="{{ octoprint.data.printer.state.flags.printing }}" >Change filament</button>
        </div>

        <h1><i class="fa fa-list fa-fw"></i> Files <a href="#" class="float-right" ng-click="octoprint.getFiles()"><i class="fa fa-refresh fa-fw"></i></a></h1>

        <div class="margins">
            <input type="text" ng-model="searchFile.name" class="form-control" placeholder="Search..." />
            <div class="file-manager-list-container">
                <div class="file-manager-list">
                    <div class="back" ng-if="fileManager.currentPath" ng-click="fileManager.navigateUp()">
                        <i class="fa fa-arrow-left"></i> Back<br />
                        <small>Currently in {{ fileManager.currentPath }}</small>
                    </div>
                    <div class="file-manager-item" ng-class="file.type == 'folder' ? 'folder':''" ng-repeat="file in fileManager.selected | orderBy : ['children.length', 'name'] | searchFileManager : searchFile">
                        <ng-include src="'views/partials/list-files-item.html'"></ng-include>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button class="btn btn-block btn-primary" ng-click="ShowCreateFolderModal()">Create folder...</button>
                </div>
                <div class="col">
                    <span class="btn btn-block btn-primary btn-upload">
                        Upload
                        <input type="file" id="fileupload" accept=".gcode,.gco,.g" file-model="fileManager.fileupload" />
                    </span>
                </div>
            </div>

            <div class="progress progress-upload" ng-show="fileManager.progress.loaded != 0">
                <div class="progress-bar" ng-class="fileManager.progress.loaded != 0 && fileManager.progress.loaded != 100 ? 'progress-bar-striped progress-bar-animated' : ''" role="progressbar" aria-valuenow="{{ fileManager.progress.loaded | number: 1 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{  fileManager.progress.loaded | number: 1 }}%">
                    <span ng-show="fileManager.progress.loaded != 100" >Upload...</span>
                    <span ng-hide="fileManager.progress.loaded != 100" >Uploaded</span>
                </div>
            </div>

        </div>

    </nav>
</div>
